@mixin commonBoxCode($border-color, $font-weight) {
    font-weight: $font-weight;
    padding: 0.5rem 1rem 0.5rem 2rem;
    display: grid;
    align-items: center;
    justify-items: left;
    border: 0.1rem solid $border-color;
    border-radius: 0.5rem;
    grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
    grid-column-gap: 0.5rem;
}
