@import "./mixin";
@import "./var";

.app {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem;
}

.searchbar {
    margin-bottom: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 2rem;
    align-items: center;

    & input {
        font-size: 0.9rem;
        height: 100%;
        padding: 0 0 0 2rem;
        outline: none;
        border: 0.1rem solid gray;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    & .searchbar__icon {
        cursor: pointer;
        color: #fff;
        background-color: $search-button-background-color;
        height: 100%;
        padding: 0.1rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    @media screen and (min-width: 768px) {
        & {
            width: 40%;
        }
    }
}

.searchresults {
    display: grid;
    width: 100%;
    grid-row-gap: 1rem;

    & .searchresults__title {
        grid-template-columns: 43% 20% 23%;
        @include commonBoxCode(gray, 500);

        & p {
            overflow-wrap: anywhere;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, min-content);
            cursor: pointer;

            & .sorticon {
                height: 1.5rem;
            }

            @media screen and (min-width: 376px) {
                overflow-wrap: break-word;
            }
        }
    }

    & .searchresults__body {
        grid-template-columns: 43% 20% 23% min-content;
        @include commonBoxCode(lightgray, 400);

        & p {
            overflow-wrap: anywhere;
        }

        & .trash {
            height: 1.5rem;
            visibility: hidden;
            cursor: pointer;
            @media screen and (min-width: 530px) {
                visibility: visible;
            }
        }
    }

    @media screen and (min-width: 768px) {
        & {
            width: 50%;
        }
    }
}
